.change-password {
  width: 300px;
  margin-left: 4rem;
  .password-card {
    padding: 2rem;
    border: 2px solid red;

  }
  form{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  input{
    font-size: 12px;
    border-radius: 8px;
  }
}
